* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}



/* Responsive Navbar */

nav {
	display: flex;
	background-color: greenyellow;
	justify-content: space-around;

/* Ganti 'padding' dengan 'height' & 'align-items' */
/*	padding: 20px;*/

	color: goldenrod;
	height: 50px;
	align-items: center;
}


nav .logo {
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
}


nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content:space-around;
}


nav ul li a {
	text-decoration: none;
	color: crimson;
	font-size: .8em;
}


nav ul li a:hover {
	color: darkred;
}





/* Hamburger menu */
.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}


.menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	left: -6px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}


.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: darkgreen;
	border-radius: 3px;
	transition: all .5s;
}





/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}


.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2) {
	background-color: crimson;
	transform: rotate(45deg) translate(-1px, -1px);
}


.menu-toggle input:checked ~ span:nth-child(4) {
	background-color: crimson;
	transform: rotate(-45deg) translate(-1px, 0);
}


.menu-toggle input:checked ~ span:nth-child(3) {
	background-color: crimson;
	opacity: 0;
	transform: scale(0);
}





/* Responsive Breakpoint */

/* Ukuran tablet */
@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
}


/* Ukuran mobile */
@media screen and (max-width: 768px) {
	.menu-toggle {
		display: flex;
	}

	nav ul {
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color: greenyellow;
		z-index: -1;
		transform: translateX(100%);
		transition: all .8s;
		opacity: 0;
	}

	nav ul.slide {
		opacity: 1;
		transform: translateX(0);
	}
}